:host{
    --CustomWidth: 9.6px;
    --CustomHeight: 5.4px;
    position: absolute;
    width: calc(var(--CustomWidth)*100);
    height: calc(var(--CustomHeight)*100);
    background: rgb(255 0 0);
}

#ShowLoadingMessage{
    position: absolute;
    height: 100%;
    z-index: 9999;
    width: 100%;
    background: rgb(0 0 0 / 54%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#SybcOnUI{
    height: calc(var(--CustomHeight)*3.2);
    width:  calc(var(--CustomWidth)*3.2);
    background-size: 100% 100%;
    background-image: url('/image/Share/OnOffUI_1.png');
    pointer-events: auto;
    margin-left: calc(var(--CustomWidth)*1);
}
#UItext_isOnOf{
    line-height: calc(var(--CustomHeight)*2.5);
    margin-left: calc(var(--CustomWidth)*1);
}
#SyncOnOffArea{
    justify-content: center;
    height: calc(var(--CustomHeight)*5.6);
    width: calc(var(--CustomWidth)*19);
    align-items: center;
    pointer-events: auto;
    display: flex;
    position: absolute;
    bottom: calc(var(--CustomHeight)*2);
    left: calc(var(--CustomWidth)*2);
    font-size: calc(var(--CustomHeight)*2.2);
    white-space: nowrap;
}

.ZoomOut{
    background-color: transparent;
    /* background-image:url('/image/Share/ZoomOut.png'); */

}
.ZoomOut:hover{
    /* background-image:url('/image/FanMode/ZoomOut.png'); */
    background-color: #17beff;

}

.ZoomIn{
    /* background-image:url('/image/Share/Off/ZoomIn.png'); */
    background-color: transparent;
}
.ZoomIn:hover{
    /* background-image:url('/image/Share/On/ZoomIn.png'); */
    background-color: #17beff;
}
.closeProgram{
    /* background-image:url('/image/Share/Off/closeProgram.png'); */
    background-color: transparent;
}
.closeProgram:hover{
    /* background-image:url('/image/Share/On/closeProgram.png'); */
    background-color: #ff3c1d;
}
#ZoomAppList {
    position: absolute;
    height: calc(var(--CustomHeight)*6);
    width: calc(var(--CustomWidth)*10.8);
    display: flex;
    right: 0;
    z-index: 9999;
    /* background: red; */
}
    
#ZoomAppList div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--CustomWidth)*3.9);
    /* background: red; */
    height: calc(var(--CustomHeight)*5.2);
} 



#ImportExportUI{
    justify-content: center;
    height: calc(var(--CustomHeight)*5.1);
    width: calc(var(--CustomWidth)*7);
    align-items: center;
    pointer-events: auto;
    display: flex;
    position: absolute;
    right: calc(var(--CustomWidth)*12);
    top: calc(var(--CustomHeight)*7);
    border: 1px solid #3C495B;
    background: #2C3647;
    border-bottom: none;
    border-radius: 3px 3px 1px 1px;
}

#ImportExportUI:hover{
    background-color: #17beff;

}
#ImportExportUI #ImportIcon{   
    height: 67%;
    width: calc(var(--CustomWidth)*1.6);
    background-size: 100% 100%;
}

#ImportExportUI #ExportIcon{   
    height: 67%;
    width: calc(var(--CustomWidth)*1.6);
    background-size: 100% 100%;
}






#ImportExportUI #UIText{ 
    height: 80%;
    width: calc(var(--CustomWidth)*3.6);
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--CustomHeight)*2);
    margin-left: calc(var(--CustomWidth)*0.5);
}
.SharedMask{
    position: absolute;
    pointer-events: auto;
    height: calc(var(--CustomHeight)*100);
    width: calc(var(--CustomWidth)*100);
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask{
    position: absolute;
    pointer-events: auto;
    height: calc(var(--CustomHeight)*100);
    width: calc(var(--CustomWidth)*100);
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask .NoticeUI{   
    position: absolute;
    height: calc(var(--CustomHeight)*56);
    width: calc(var(--CustomWidth)*40);
    border: calc(var(--CustomHeight)*0.3) solid #17beff;
    background: #171f33;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask .NoticeUI_OK{    
    position: absolute;
    height: calc(var(--CustomHeight)*5);
    width: calc(var(--CustomWidth)*4);
    background: #2c3647;
    color: white;
    font-size: calc(var(--CustomHeight)*2.2);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 8%;
}
#SharedMask .NoticeUI_Icon{
    background-image: url('/image/Share/TipIcon.png');
    top: calc(var(--CustomHeight)*6);
    left: calc(var(--CustomWidth)*6);
    background-size: 100% 100%;
    position: absolute;
    height: calc(var(--CustomWidth)*3.3);
    width: calc(var(--CustomWidth)*3.3);
    color: white;
    font-size: calc(var(--CustomHeight)*2.2);
    border-radius: calc(var(--CustomHeight)*1);
}
#SharedMask .NoticeUI_Title{
    position: absolute;
    height: calc(var(--CustomHeight)*3.1);width: calc(var(--CustomWidth)*4.3);
    color: #17beff;
    font-size: calc(var(--CustomHeight)*3);
    border-radius: calc(var(--CustomHeight)*1);
    display: flex;/* background: red; */
    justify-content: center;
    align-items: center;top: calc(var(--CustomHeight)*7.4);left: calc(var(--CustomHeight)*14)
}

#SharedMask .NoticeUI_Content{
    height: calc(var(--CustomHeight)*23.1);
    width: 82%;
    color: #FFFFFF;
    font-size: calc(var(--CustomHeight)*2.4);
    border-radius: calc(var(--CustomHeight)*1);
    line-height: calc(var(--CustomHeight)*4);
    /* background: red; */
}
#SettingBtn{
    height: calc(var(--CustomHeight)*5.1);
    width: calc(var(--CustomWidth)*4.1);
    pointer-events: auto;
    position: absolute;
    right: calc(var(--CustomWidth)*12);
    background-size: 100% 100%;
    background-image: url('/image/Share/Off/SettingIcon.png');
}
#SettingBtn:hover{
    background-image: url('/image/Share/On/SettingIcon.png');
}



.UITextColor{
    color:#CCCCCC;
}