:host{
    --CustomWidth: 960px;
    --CustomHeight: 540px;
    --TSTTTTT: 540;
    position: absolute;
    width: var(--CustomWidth);
    height: var(--CustomHeight);
    background: rgb(255 0 0);
}

#ShowLoadingMessage{
    position: absolute;
    height: 100%;
    z-index: 9999;
    width: 100%;
    background: rgb(0 0 0 / 54%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#SybcOnUI{
    height: calc(var(--CustomHeight)*0.032);
    width:  calc(var(--CustomWidth)*0.032);
    background-size: 100% 100%;
    background-image: url('/image/Share/OnOffUI_1.png');
    pointer-events: auto;
    margin-left: calc(var(--CustomWidth)*0.01);
}
#UItext_isOnOf{
    line-height: 2.5vh;
    margin-left: 1vw;
}
#SyncOnOffArea{
    justify-content: center;
    height: 5.6vh;
    width: 19vw;
    align-items: center;
    pointer-events: auto;
    display: flex;
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    font-size: 2.2vh;
    white-space: nowrap;
}

.ZoomOut{
    background-color: transparent;
    /* background-image:url('/image/Share/ZoomOut.png'); */

}
.ZoomOut:hover{
    /* background-image:url('/image/FanMode/ZoomOut.png'); */
    background-color: #17beff;

}

.ZoomIn{
    /* background-image:url('/image/Share/Off/ZoomIn.png'); */
    background-color: transparent;
}
.ZoomIn:hover{
    /* background-image:url('/image/Share/On/ZoomIn.png'); */
    background-color: #17beff;
}
.closeProgram{
    /* background-image:url('/image/Share/Off/closeProgram.png'); */
    background-color: transparent;
}
.closeProgram:hover{
    /* background-image:url('/image/Share/On/closeProgram.png'); */
    background-color: #ff3c1d;
}
#ZoomAppList {
    position: absolute;
    height: 6vh;
    width: 10.8vw;
    display: flex;
    right: 0;
    z-index: 9999;
    /* background: red; */
}
    
#ZoomAppList div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.9vw;
    /* background: red; */
    height: 5.2vh;
} 



#ImportExportUI{
    justify-content: center;
    height: 5.1vh;
    width: 7vw;
    align-items: center;
    pointer-events: auto;
    display: flex;
    position: absolute;
    right: 12vw;
    top: 7vh;
    border: 1px solid #3C495B;
    background: #2C3647;
    border-bottom: none;
    border-radius: 3px 3px 1px 1px;
}

#ImportExportUI:hover{
    background-color: #17beff;

}
#ImportExportUI #ImportIcon{   
    height: 67%;
    width: 1.6vw;
    background-size: 100% 100%;
}

#ImportExportUI #ExportIcon{   
    height: 67%;
    width: 1.6vw;
    background-size: 100% 100%;
}






#ImportExportUI #UIText{ 
    height: 80%;
    width: 3.6vw;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    margin-left: 0.5vw;
}
.SharedMask{
    position: absolute;
    pointer-events: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask{
    position: absolute;
    pointer-events: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask .NoticeUI{   
    position: absolute;
    height: 56vh;
    width: 40vw;
    border: 0.3vh solid #17beff;
    background: #171f33;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SharedMask .NoticeUI_OK{    
    position: absolute;
    height: 5vh;
    width: 4vw;
    background: #2c3647;
    color: white;
    font-size: 2.2vh;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 8%;
}
#SharedMask .NoticeUI_Icon{
    background-image: url('/image/Share/TipIcon.png');
    top: 6vh;left: 6vh;
    background-size: 100% 100%;
    position: absolute;
    height: 3.3vw;
    width: 3.3vw;
    color: white;
    font-size: 2.2vh;
    border-radius: 1vh;
}
#SharedMask .NoticeUI_Title{
    position: absolute;
    height: 3.1vh;width: 4.3vw;
    color: #17beff;
    font-size: 3vh;
    border-radius: 1vh;
    display: flex;/* background: red; */
    justify-content: center;
    align-items: center;top: 7.4vh;left: 14vh;
}

#SharedMask .NoticeUI_Content{
    height: 23.1vh;
    width: 82%;
    color: #FFFFFF;
    font-size: 2.4vh;
    border-radius: 1vh;
    line-height: 4vh;
    /* background: red; */
}
#SettingBtn{
    height: 5.1vh;
    width: 4.1vw;
    pointer-events: auto;
    position: absolute;
    right: 12vw;
    background-size: 100% 100%;
    background-image: url('/image/Share/Off/SettingIcon.png');
}
#SettingBtn:hover{
    background-image: url('/image/Share/On/SettingIcon.png');
}



.UITextColor{
    color:#CCCCCC;
}