
/*#region Area*/

.LedListTitleStyle{
    left: 4vw;
    height: 4.9vh;
    border: 0.08vw solid rgb(23, 190, 255);
    width: 15.4vw;
    border-radius: 0px 1.3vw 1.3vw 0px;
    position: absolute;
    top: 5.7vh;
    color: white;
    line-height: 5.3vh;
    background-size: 100% 100%;
    text-align: left;
    font-size: 2.3vh;
    overflow: hidden;
}

.ModeDropStyle{

    position: absolute;
    top: 5.7vh;
    left: 1.8vw;
    width: 15.4vw;
    height: 4.9vh;
    color: rgb(255, 255, 255);
    line-height: 5.3vh;
    background-size: 100% 100%;
    text-align: left;
    font-size: 2.3vh;
    overflow: hidden;
}

.LEDModeListItem{
    padding-left: 0.73vw;
    background-color: #363c52;
    margin-left: 0vw;
    display: flex;
    align-items: center;
    font-size: 2.3vh;
    color: #fff;
    margin-top: 0vh;
    width: 95%;
    height: 3.4vh;
    white-space: nowrap;
}


.ControllersItem{
    color: white;
    width: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #17BEFF; */
    margin-left: 5%;
    /* border-top: 1px solid rgb(23, 190, 255); */
}


/* #FanModeDrop:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 9999;
    top: 50%;
    width: 15.2vw;
    border-right-color: rgb(0, 255, 0);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(0, 255, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(0, 255, 0);
    border-left-style: solid;
    border-left-width: 2px;
    height: 50%;
} */






.FanGroupStyle{  
    width: 37.8vw;
    height: 23.9vh;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.GroupTextAreaStyle{
    color: #C9CACA;
    line-height: 1.8vh;
    margin-top: 14.3vh;
    display: flex;
    width: 32vw;
    align-items: center;
    height: 3.9vh;
    font-size: 1.7vh;
    background-size: 100% 100%;
    background-image: url(/image/FanMode/fansInfoText.png);
    position: absolute;
}
.GroupFanTextStyle{

    width: 0.7vw;
    height: 0.7vw;
    background-size: 100% 100%;
    background-image: url('/image/FanMode/FanMode_Icon.png');
    pointer-events: none;
    margin-left: 2vw;
}


.GroupRPMTextStyle{
    width: 5vw;
    height: 2vh;
    pointer-events: none;
    white-space: nowrap;
    margin-left: 0.6vw;
}

.GroupRPMTextIcon{
    width: 1.1vw;
    height: 1.5vh;
    background-size: 100% 100%;
    background-image: url('/image/FanMode/RPM_Icon.png');
    pointer-events: none;
    margin-left: 0.6vw;

}

.GroupLedTextStyle{
    background-size: 100% 100%;
    background-image: url('/image/FanMode/LedMode_Icon.png');
    width: 1.3vw;
    height: 1.5vh;
    pointer-events: none;
    margin-left: 0.5vw;
}


.SpeedBrightDircetion{
    position: absolute;
    top: 0px;
    left: 74.6%;
    width: 25%;
    height: 100%;
    line-height: 3vh;
}
#colorRecordArea{
    display: flex;
    align-items: center;
    width: 16vw;
    margin-left: 1.8vw;
    MARGIN-TOP: 21vh;
    height: 4.7vh;
}
.RecordAreaFrame{
    display: flex;
    width: 2.92vw;
    height: 2.92vw;
    margin-right: 1.3%;
    cursor: url(/image/Share/bucket.png) 0 0, auto;
}
._GlobalColorArrays{
    display: flex;
    width: 1.9vw;
    height: 1.9vw;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.RecordAreaBtn{
    outline: none;
    height: 2.8vw;
    width: 2.8vw;
    border: none;
    margin-top: 8%;
}

.HSBText{
    font-size: 1.5vh;
    color: #C9CACA;
    line-height: 2.7vh;
    width: 68%;
    display: flex;
    height: 8vh;
    padding-top: 0.6vh;
    justify-content: center;
    align-items: center;
    text-align: left;
}


/*#endregion Area*/
/*#region BtnSkin*/
.LedPartbuttons{
    display: flex;
    width: 100%;
    line-height: 7vh;
    background-size: 100% 100%;
    margin-top: 1vh;
    justify-content: center;
    /* background-image: url(/image/FanMode/btn01_normal.png); */
}
.LPB_Content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.1vw;
    height: 2.8vw;
    background-size: 100% 100%;
    border: 1px solid rgb(23, 190, 255);
}
.BtnDefault {
    background-size: 100% 100%;
    text-align: center;
    background: #2c3647;
    font-size: 2.1vh;
    line-height: 5.5vh;
    color: #CCCCCC;
    border: 1px solid #3C495B;
    border-radius: 4px;
}
.BtnDefault:hover{
    background: #17beff;
    color: #FFFFFF;
}
.ApplyUI{
    position: absolute;
    top: 28.3vh;
    left: 1.8vw;
    width: 6.1vw;
    height: 5.5vh;
}
.ApplyAllUI{
    position: absolute;
    top: 28.3vh;
    left: 8.4vw;
    width: 8.5vw;
    height: 5.5vh;
}

.ApplyLong {
    position: absolute;
    width: 9.4vw;
    top: 28.4vh;
    left: -1.6vw;
    height: 5.5vh;
}



.DefaultApply{
    position: absolute;
    top: 28.4vh;
    left: 1.5vw;
    width: 7.3vw;
    height: 5.5vh;
}
.ColorApply{
    position: absolute;
    top: 28.4vh;
    left: 9.3vw;
    width: 5.7vw;
    height: 5.5vh;
}
.FrameDefault {
    /* position: absolute; */
    width: 15.5vw;
    height: 4.5vh;
    background-size: 100% 100%;
}


.SPDTitleText {
    position: absolute;
    margin-left: 1vw;
    font-size: 2.5vh;
}



.FanImageDefault{
    width: 32vw;
    height: 14.5vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/image/FanMode/AL_Four_FansT2.png);
    pointer-events: none;
    display: flex;
    FLEX-WRAP: wrap;
    position: absolute;
    margin-top: -3.9vh;
}
.FanAnimationBlock{
    width: 32vw;
    height: 14.5vh;
    pointer-events: none;
    display: flex;
    margin-top: -3.9vh;
}



/*#endregion BtnSkin*/

/*#region wrapper*/


#wrapper {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    /* -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 8%, 100% 70%, 77% 100%, 50% 100%, 23% 100%, 0% 70%, 0 7%, 20% 10%);
    clip-path: polygon(50% 0%, 80% 10%, 100% 8%, 100% 70%, 77% 100%, 50% 100%, 23% 100%, 0% 70%, 0 7%, 20% 10%); */ 
    /* -webkit-mask-image: url('/image/canvasElements/frame.png'); */
}



#dragAreaTop{
    -webkit-app-region: drag;
    position: absolute;
    z-index: 95;
    width: 83vw;
    height: 4vh;
    opacity: 1;
    /* background-color: #f00; */
}
#bodySideAreaUp {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 77vw;    
    height: 49.7vh;
    background-color: #0000;
    box-sizing: border-box;
}

#OutSideFrame {
    position: absolute;
    width: 76.8vw;
    height: 49.7vh;
    background-color: #0000;
    box-sizing: border-box;
    pointer-events: none;
}

  #bodySideAreaDown {
    position: absolute;
    top: 51vh;
    width: 77vw;
    height: 37vh;
  }

#LeftMenu {
    position: absolute;
    float: left;
    top: 12.1vh;
    width: 22.9vw;
    height: 87vh;
  }
#switchPageBtn a {
    display: block;
    /* margin-right: 60px; */
    /* margin-top: 0px; */
    line-height: 59px;
    width: 221px;
    height: 59px;
    /* height: 100%; */
    
    font-family: 'mywebfont', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(129, 129, 129);
    background:  url('/image/FanMode/BtnLeftSide_normal.png');
    /* background-color: rgb(24, 30, 36); */
}

#switchPageBtn a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background:  url('/image/FanMode/BtnLeftSide_over.png');
}
#switchPageBtn a:active {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background:  url('/image/FanMode/BtnLeftSide_over.png');
}



.cursor{
    cursor: pointer;
}

.Frameline{
    position: absolute;
    top: 8.5vh;
    left: 1.8vw;
    border: 0.1vw solid #17beff;
    width: 15.4vw;
    border-top-color: rgba(179, 54, 204, 0);
    border-top-style: solid;
    border-top-width: 2px;
    height: 25.5vh;
    overflow-y: hidden;
    -webkit-appearance: none;
    background: #161B26;
    
}


/*#endregion wrapper*/

/*#region dropsdown*/
.dropsdownBox{
    position: absolute;
    top: 2.5vh;
    width: 97%;
    height: 21.8vh;
    overflow-y: auto;
    z-index: 9999;
    background-size: 100% 100%;
}

.dropsdownBox a{
    display: block;
    padding-left: 1vw;
    padding-top: 0.2vw;
    font-size: 2.3vh;
    color: rgb(255,255,255);
}
.dropsdownBox a.hoveritem:hover{
    /* background-color: rgb(255,0,0); */
    background-size: 100% 100%;
    background-color: #363C52;
    background-position: center;
    overflow: hidden;
}
.hoveritem{
    line-height: 2.5vh;
}
.dropsdownBox::-webkit-scrollbar {
    width: 1.1vh;
}
.dropsdownBox::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: #17beff;
    
}
/*#endregion dropsdown*/





/*#region Polygon*/
.FanGroup_ItemStyle{
    width: 2.8vw;
    height: 2.8vw;
    margin-top: 4.3vh;
    /* background: #ff000061; */
}

.FanOuter_Item{
    position: absolute;
    background:transparent;
    width: 1vw;
    height: 0.6vh;
}

.FanOuterGroup_ItemStyle{
    width: 8vw;height: 8vw;
    border-radius: 4vh;
    /* background: #ff000061; */
}

.PolygonFanUp{
    position: absolute;margin-top: -3.8vh;margin-left: -2.4vw;transform-origin: center center;
    background:transparent;
    width: 7.6vw;
    height: 7.6vw;
    border-radius: 100px;
    clip-path: polygon(50% 50%, 0% 50%, 0% 0%);

}
.PolygonFanDown{
    top: 13.8vh;
    /* position: absolute; */
    background-repeat: no-repeat;
    /* background: rgb(0, 0, 0); */
    z-index: 4;
    width: 7.8vw;
    MARGIN-TOP: 6.6VH;
    height: 4vh;
    margin-left: 0.2vw;
    clip-path: polygon(0% 11%, 21% 83%, 80% 83%, 100% 15%, 83% 100%, 21% 100%);
}
/*#endregion Polygon*/

/*#region inputrange*/

input[type=range] {
    -webkit-appearance: none; 
    /* Hides the slider so that custom slider can be made */
    /*  width: 100%;  Specific width is required for Firefox. */
    background: transparent; 
    /* Otherwise white in Chrome */
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
     /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
#FanInputs input{
    position: absolute;
    width: 16vw;
    transform-origin: left; 
    left: 1vw;
    /* transform: rotate(90deg); */
}


.FanBarBG{
    top: 12.8vh;
    left: 2vw;
    width: 15vw;
    height: 6.6vh;
    position: absolute;
    background-image: url('/image/FanMode/SliderFan_normal.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.FanOverBar{
    top: 12.8vh;
    left: 2vw;
    width: 15vw;
    height: 6.6vh;
    position:absolute;
    background-image:url('/image/FanMode/SliderFan_over.png');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}




#FanSlider::-webkit-slider-thumb {
    height: 37px;
    width: 1px;
    background-repeat:no-repeat;
}

#InputSpeed::-webkit-slider-thumb {
    height: 1vw;
    width: 1vw;
    background-color: #17beff;
    border-radius: 15px;
    background-image: url('/image/Share/InputButton.png');
    background-size: 100% 100%;
}
#InputSpeed {
    position: absolute;
    background-repeat: no-repeat;
    height: 0.7vh;
    width: 10.5vw;
    margin-top: 4.3vh;
    margin-left: 1vw;
    border-radius: 15px;
    background: -webkit-linear-gradient(#0000, #17beff) no-repeat, #2F2F2E;
    background-size: 0 100%;
}




#InputBright::-webkit-slider-thumb {
    height: 1vw;
    width: 1vw;
    background-color: #17beff;
    border-radius: 15px;
    background-image: url('/image/Share/InputButton.png');
    background-size: 100% 100%;
}
#InputBright {
    position: absolute;
    background-repeat: no-repeat;
    height: 0.7vh;
    width: 10.5vw;
    margin-top: 4.3vh;
    margin-left: 1vw;
    border-radius: 15px;
    background: -webkit-linear-gradient(#0000, #17beff) no-repeat, #2F2F2E;
    background-size: 0 100%;
}



#ColorSliderH::-webkit-slider-thumb {
    height: 1.9vh;
    width: 0.4vw;
    background: #181F32;
    border: white 0.01vw solid;
    /* background-size: 100% 100%;
    background-image:url('/image/FanMode/colorBarH_ico.png'); */

}

#ColorSliderS::-webkit-slider-thumb {
    height: 1.9vh;
    width: 0.4vw;
    background: #181F32;
    border: white 0.01vw solid;
    /* background-size: 100% 100%;
    background-image:url('/image/FanMode/colorBarH_ico.png'); */

}
#ColorSliderV::-webkit-slider-thumb {
    height: 1.9vh;
    width: 0.4vw;
    background: #181F32;
    border: white 0.01vw solid;
    background-repeat: no-repeat;
    /* background-size: 100% 100%;
    background-image:url('/image/FanMode/colorBarH_ico.png'); */

}


#ColorSliderH{

    position: absolute;
    top: 1.6vh;
    left: 9%;
    width: 15.2vw;
    height: 1.5vh;
    background-size: 100% 100%;
    background-image: url('/image/FanMode/colorBarH.png');
}
#ColorSliderS{
    position: absolute;
    top: 4.5vh;
    left: 9%;
    width: 15.2vw;
    height: 1.5vh;
    /* background: -webkit-linear-gradient(left,#FFFFFF,black); */
}
#ColorSliderV{
    position: absolute;
    top: 7.3vh;
    left: 9%;
    width: 15.2vw;
    height: 1.5vh;
    /* background: -webkit-linear-gradient(left,#FFFFFF,black); */
}






/*#endregion inputrange*/

/*#region 文字常用Class*/

.H1{
    font-size: 26px;text-transform: uppercase;color:rgb(255,255,255);
}
.H2{
    font-size: 17px;text-transform: uppercase;color:rgb(255,255,255);
}
.H3{
    font-size: 16px;text-transform: uppercase;color:rgb(0,0,0);
}
.H4{
    font-size: 14px;text-transform: uppercase;color:rgb(255,255,255);
}
.H5{
    font-size: 12px;text-transform: uppercase;color:rgb(80,175,228);
}
.ConcatenationBtnText{
    line-height: 2.8vw;
    font-size: 2.3vh;
    text-transform: uppercase;
    color:rgb(255,255,255);
}
.ConcatenationBtnIndex{
    border-radius: 6px 1px 1px 6px;
    background: #2C3647;
    width: 3vw;
    height: 2.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 6.7vh;
    text-transform: uppercase;
    font-size: 2.4vh;
    color: #B0C3EA;
    border: 1px solid #3c495b;
}

#SL_SyncLPB{
    display: flex;
    width: 15.4vw;
    height: 25vh;
    margin-left: 4.4vw;
    margin-top: 11vh;
    flex-direction: column;
    align-items: center;
}

#SL_LPB{
    display: flex;
    width: 15.4vw;
    height: 25vh;
    margin-left: 4.4vw;
    margin-top: 11vh;
    flex-direction: column;
    align-items: center;
}

/*#endregion 文字常用Class*/
.UITextColor{
    color:#CCCCCC;
}